* {
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}

/*  General Text Styling  */

body {
  font-family: Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  padding: 0.6rem;
}
h2 {
  font-size: 1.7em;
  padding: 0.6rem;
}
h3 {
  font-size: 1.4em;
  padding: 0.6rem;
}
h4 {
  font-size: 1.2em;
  padding: 0.6rem;
}
h5 {
  font-size: 1em;
  padding: 0.6rem;
}
h6 {
  font-size: 0.8em;
  padding: 0.6rem;
}
p {
  padding: 0.6rem;
}

/*  General page styling  */

.main-header {
  /* header background colour edited by hannah */
  background-color: #B8E1D0;
  text-align: center;
  padding: 1.5em;
}
main {
  width: 75%;
  margin: 0 auto;
}
.logo {
  position: fixed;
  right: 1em;
  bottom: 3em;
  width: 300px;
}
footer {
  text-align: center;
  background-color: gray;
}

/*  General section styling  */

section {
  /*padding: 5px;*/
  /*border: 3px solid black;*/
  margin: 10px;
}
.section-header {
  overflow: auto;
}
.bullet-point {
  width: 46px;
  padding: 3px;
  float: left;
}
.section-header h2 {
  float: left;
}
.visible, .invisible {
  margin-left: 46px;
}
.invisible {
  opacity: 0;
  transition: 2s;
}
.invisible:hover {
  opacity: 1;
}

/*  Personal section styling  */


/* Hannah's section styling */


/*font-family: 'Contrail One', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;*/


/* Text styling */

.hannah h2 {
  font-family: 'Contrail One', cursive;
  font-size: 3em;
  color: #BAAEC8;
}

.hannah h3 {
  font-family: 'Contrail One', cursive;
  font-size: 2em;
  color: #007fff;
}

.hannah p {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

.hannah .funfact {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  padding: 0.6rem;
  color: #6FD9D9;
}

.hannah a {
  color: #6582A4;
  text-transform: uppercase;
}

.hannah button {
  background-color: #B8E1D0;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 12px 28px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Section styling */

.hannah {
  width: 100%;
  background-color: #FBF9F5;
}

.hannah .visible {
  width: 550px;
  float: left;
}

.hannah .campervan {
  float: left;
  border: 5px solid #F3DDC3;
  /*margin: 0 10px;*/
}

.hannah .invisible {
  clear: both;
}

/*.hannah #hannah {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 20px;
}*/

/* add styling to your own sections by using your name as the section class to target just your section and not affect the styling of the rest of the page */

/*Shaheen's styling section*/

/*text-styling section*/

.shaheen h2 {
  font-family:'Bungee Shade', cursive;
  font-size: 2.5em;
  color: #F7F131;
  overflow: hidden;
}

.visible {
  font-family: 'Arvo', serif;
}

.shaheen h3 {
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
  color: #00DDFF;
}

.invisible h4 {
    font-family:'Bungee Shade', cursive;
    font-size: 2.5em;
    color: #FF69B4;
}

.invisible p {
  font-family: 'Arvo', serif;
  font-style: italic;
  color: gray;
}

/*img + button styling*/

.visible img {
  width: 20em;
  height: 12em;
  float: right;
  padding: 0px 20px 20px 0;
}

.shaheen .visible {
  float: left;
}

.shaheen .invisible {
  clear: both;
}

div button {
  font-family: 'Arvo', serif;
  background-color: #00FF04;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}
